Source: libapache2-mod-anonymize-ip
Section: web
Priority: extra
Maintainer: Benedikt Böhm <bb@xnull.de>
Build-Depends: apache2-prefork-dev (>= 2.2.3-1) | apache2-threaded-dev (>= 2.2.3-1), debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://bb.xnull.de/projects/mod_anonymize_ip/

Package: libapache2-mod-anonymize-ip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: module that implements bit masking for anonymizing client IP addresses
